# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My Def
build*/
release-build/
cmake-build-debug/
.idea/
.DS_Store
.vscode/
# include/poplar/poplar_config.hpp
extra/
# pyscripts/
# とりあえず
.travis.yml